body { 
    font-family: "Montserrat", sans-serif;
}
#title {
    background-color: #ff4c68;
    color: #ffffff;  
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 20% 3%;
    text-align: center;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 900;
}


/* Title image */
.phone-img {
    position: relative;
    transform: rotate(25deg);
<<<<<<< HEAD
    width: 250px; 
    padding-top: 0; 
}

.header-text {
=======
    width: 60%; 
    padding-top: 0; 
}

.Big-Heading {
>>>>>>> 64ca661 (Fixed the container of main visual)
    font-size: 3.5rem;
    line-height: 1.5;
}

@media (max-width: 1028px) {
    .title-img {
          position: static;
          transform: rotate(0);	 
          margin-bottom: -100px;         
     }
     #title {
         text-align: center;
    }
}

.cta-heading {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 900; 
}

p {
    color: #8f8f8f
}

.navbar {
    padding: 0 0 4.5rem;
}

/* Nabar-brand */
.navbar-brand {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}


/* Download Button */
.download-btn {
    margin: 5% 3% 5% 0;
}


/* Feature Section */
#features {
    position: relative;
    text-align: center;
    padding: 7% 15%;
    z-index: 3;
    background-color: white;
}

.feature-box {
    text-align: center;
}


/* Icon style */
.icon {
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonial section */
#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff; 
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width:15%;
    margin: 20px 20px 50px;
}


/* pricing section */
#pricing {
    text-align: center;
    padding: 7% 15%;
}

.pricing-button {
    margin-top: 40px;
}

#footer {
    text-align: center;
    padding-top: 3%;
}

.icon-footer {
    color:grey;
    margin-left:5px;
}
